body{
    text-align: center;
    font-size: 2rem;
}
h1{
    width:100%;
    height:20%;
    background-color: orange;
}
.imge{
    margin:10%;
    width:80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 4%;

}
.imge img{
    width:100%;
    
}
button{
    width:50%;
    cursor: pointer;
}
